/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* background image import & centered */
body {
  background-image: url("./pexels-javon-swaby-3279691.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* style text content & google font import */
h1 {
  font-family: "Cookie", cursive;
  color: red;
  font-size: 150px;
  font-weight: bolder;
  text-decoration: underline;
}

.p {
  font-size: 30px;
  color: black;
  font-family: "Luckiest Guy", cursive;
}

/* button styles */
button {
  height: 10vh;
  width: 15vh;
  border-radius: 35px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #047636;
}

button:hover {
  cursor: pointer;
  color: red;
}
